/* Core */
@font-face {
  font-family: billy_ohio;
  src: url(./fonts/Billy_Ohio.ttf);
}

body {
  margin: 0;
  margin-top: -35px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  background-image: url('./images/graphpaper.jpg');
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 1em;
  padding: 1em, 0;
}

p {
  display: inline-block;
  margin: 0;
  padding: 1em, 0;
}

/* Showcase */
#showcase {
  min-height: 250px;
  color: white;
  text-align: center;
}
@media(min-width: 700px) {
}



#showcase h1 {
  font-family: billy_ohio;
  font-size: 50px;
  color: #353535;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 35px;
  margin-bottom: 0;
  text-shadow: 2px 2px #57ab2a;
}
@media only screen and (min-width: 600px) {
  #showcase h1 {
    font-size: 100px;
  }
}

#showcase p {
  font-family: billy_ohio;
  font-size: 40px;
  color: #353535;
  padding-bottom: 30px;
  margin-top: -20px;
  text-shadow: 2px 2px #57ab2a;
}
@media only screen and (min-width: 600px) {
  #showcase p {
    font-size: 70px;
  }
}

#showcase .content-wrap
#section-a .content-wrap {
  padding: 1em 1.5em;
}


.board {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin:auto;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
  margin-bottom: 10px;
}
@media only screen and (min-width: 600px) {
  .board-column {
    width: 47%;
    margin: 0 1.5%;
  }
}
.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  /* .board-column-header {
    text-indent: -1000px;
  } */
}
.today-header {
  background: #57ab2a;
}
.someday-header {
  background: #f9944a;
}

.board-column-content {
  position: relative;
  border: 10px solid transparent;
}

.board-column-content.today, .board-column-content.someday {
  min-height: 225px;
}

.someday-column {
  margin-top: 60px;
}
@media (min-width: 600px) {
  .someday-column {
    margin-top: 0;
  }
}

.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    /* display: none; */
  }
}

.checkbox, .delete, .plus {
  margin:auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100px;
  width:  50px;
  height: auto;
}

.plus {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 20px;
}




@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

 {
    margin: 0;
    padding: 0;
}

#wrap {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #333;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

#popup {
    position: absolute;
    width: 300px;
    height: auto;
    top: 50%; left: 50%;
    margin-left: -150px; margin-top: -100px;

    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 50px;
   perspective: 800px;
   perspective-origin: 50% 50px;
}

.piece {
    background: rgba(95,144,222,0.5);
    float: left;
}

#popup h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    top: 50%; margin-top: -20px;
    font-family: 'Noto Sans', sans-serif;
    color: #ccc;
}

.reverse {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -30px;
    font-family: 'Noto Sans', sans-serif;
    color: #ccc;
    cursor: pointer;
}

.modal {
  width: 80%;
}
@media (min-width: 800px) {
  .modal {
    width: 55%;
    max-width: 600px;
    height: 350px;
  }
}

#task {
  padding-left: 20px;
  width: 80%;
}

#excite-image {
  max-width: 200px;
}

#modalExcitement {
  max-width: 200px;
  height: auto;
}
